@tailwind base;
@tailwind components;
@tailwind utilities;

.h2-gradient {
    font-size: 64px;
    font-weight: 700;
    color: #1d1d1f;
    text-align: center;
}

.span-gradient {
    background: linear-gradient(90.13deg,rgba(201, 111, 160, 1) 4.27%,rgba(107, 128, 210, 1) 35.45%,rgba(89, 187, 204, 1) 66.11%,rgba(162, 175, 114, 1) 96.25%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {}

.main {
    padding: 75px;
}

p {
    font-size: 14px;
    color: #4a5568;
}

a {}

a:hover {
    text-decoration: none !important;
}

.title {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.max-width {
    max-width: 350px;
}

.items-grid {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-size: 22px;
    margin-top: 10px !important;
}

ul.tree-view {
    padding: 6px 0px 6px 0px !important;
}

/* Menu */
.menu-items {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    padding: 4px 10px 4px 32px;
}

.menu-item {
    padding: 4px 10px 4px 32px;
}

ul [role="menuitem"] a {
    color: #333 !important;
}

ul[role=menubar]>[role=menuitem]:focus,
ul[role=menubar]>[role=menuitem]:focus-within,
ul[role=menubar]>[role=menuitem]:hover {
    background: transparent !important;
    outline: none;
    color: #333 !important;
}

/* HOME PAGE */
.intro-container {
    padding: 0 75px;
}

span.underline-nice {
    background-image: linear-gradient(120deg, rgba(98, 104, 147, 0.322) 0%, rgba(98, 104, 147, 0.322) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;
    width: fit-content;
}

.icon-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.icon {
    width: 30px;
    color: #333;
    cursor: pointer;
}

.main-title {
    font-family: 'JetBrains Mono', monospace;  
    font-weight: 600;  
    font-size: 48px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(180deg, rgb(98, 104, 147, 1) 25%, rgb(98, 104, 147, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.subtitle {
    font-family: 'JetBrains Mono', monospace;   
    font-weight: 400;   
    font-size: 36px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(180deg, rgb(98, 104, 147, 1) 25%, rgb(98, 104, 147, 1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.profile-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.icon-stack-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 15px;
    justify-items: center;
    width: 75%;
    margin: auto;
}

.tech-icon {
    height: auto;
    object-fit: cover;
}

svg {
    height: auto;
    object-fit: cover;
}


/* ABOUT ME PAGE */
img.avatar {
    width: 100px;
}

.explorer-icons {
    width: 40px;
    height: 40px;
}

.aboutme-modal {
    max-width: 50%;
}

.body-file-explorer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

.window-body>* {
    text-align: inherit;
}

.img-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/*** Homer Page ***/
.homer-img {
    margin: 0 auto;
    display: block;
}

/* PAGE PROJECTS */
.window-body-replace {
    background: #fff !important;
    border: none !important;
    box-shadow: none !important;
}

/* FOOTER */
footer {
    row-gap: 1.5rem !important;
}

footer a {
    color: #333;
}

@media (max-width: 991px) {
    .intro-container {
        padding: 0 25px;
    }

    .main-title {
        font-size: 28px;
        padding-top: 50px;
    }

    .subtitle {
        font-size: 18px;
    }

    .icon-stack-container {
        width: 100%;
    }

    .profile-img {
        width: 200px;
        height: 200px;
    }
    .aboutme-modal {
        max-width: 100%;
    }
    ul[role=menu] [role=menuitem]>[role=menu] {
        left: 60% !important;
        top: -4px;
    }

}

@media (min-width: 767px) and (max-width: 1200px) {
    .main-title {
        padding-top: 50px !important;
    }

    .icon-stack-container {
        width: 100%;
    }
}